{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        This is the profile page of {{ user.username }} ({{ user.email }}) who has {{ user.friends|length}} friends
    </div>
    <div class="row">
        <ul>
            {% for friend in user.friends %}
                <li>{{ friend.username }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}